######################################################################
##  Stuff that needs to happen at 08:30am.
######################################################################

- alias: 'Kids 700'
  id: 3e0c4f40-0d55-42a0-9af9-37124b1b9b8b
  mode: single
  trigger:
    - platform: time
      at: '08:30:00'

  condition:
    - condition: state
      entity_id: group.family
      state: home
    - condition: state
      entity_id: input_boolean.school_mode
      state: 'on'
    - condition: time
      weekday:
        - mon
        - tue
        - wed
        - thu
        - fri

  action:
    - service: homeassistant.turn_on
      entity_id:
        - light.d1
        - light.d2
        - switch.office_lamp_switch_socket
    - service: light.turn_off
      entity_id:
        - light.dining_room_lights

    - wait_template: >-
       {{ states.sun.sun.state == 'above_horizon' }}
    - service: homeassistant.turn_off
      entity_id:
        - group.kitchen_accents        
    - service: light.turn_off
      entity_id: all
