######################################################################
# @CCOSTAN - Follow Me on X
# For more info visit https://www.vcloudinfo.com/click-here
# Original Repo : https://github.com/CCOSTAN/Home-AssistantConfig
# -------------------------------------------------------------------
# Startup Logbook Entry - Log HA restarts to Activity feed
# Related Issue: 1550
#  Uses `script.send_to_logbook` + `sensor.activity_feed` (no phone push).
#  Keeps an Alexa announce when daytime.
# -------------------------------------------------------------------
######################################################################

- alias: Startup Notification and Shut startup lights
  id: f3f0a8d1-6c40-43e0-91e4-827194f78506

  trigger:
    - platform: homeassistant
      event: start
  action:
    - service: script.send_to_logbook
      data:
        topic: "SYSTEM"
        message: "Home Assistant is Up and Running!"

    - service: homeassistant.turn_off
      entity_id:
        - light.hallway_lights
        #- switch.spaceship_update_switch - Tesla integration was removed.

    - service: group.set
      data:
        object_id: "arriving"
        entities: []

    - condition: state
      entity_id: sun.sun
      state: 'above_horizon'

    - service: notify.alexa_media_office
      data:
        message: "Home Assistant has been restarted."
        data:
          type: announce
