###################################
##  Start Up Section
###################################

- alias: Startup Notification and Shut startup lights
  id: f3f0a8d1-6c40-43e0-91e4-827194f78506

  trigger:
    - platform: homeassistant
      event: start
  action:
    - service: script.notify_engine
      data:
        title: 'Home Assistant StartUp'
        value1: 'Home Assistant is Up and Running!'
        who: 'carlo'
        group: 'information'

    - service: homeassistant.turn_off
      entity_id:
        - light.hallway_lights
        #- switch.spaceship_update_switch - Tesla integration was removed.

    - service: group.set
      data:
        object_id: "arriving"
        entities: []

    - condition: state
      entity_id: sun.sun
      state: 'above_horizon'

    - service: notify.alexa_media_office
      data:
        message: "Home Assistant has been restarted."
        data:
          type: announce

