######################################################################
##  Stuff that needs to happen when we are both out of bed.
######################################################################

- alias: 'Time to wake up!'
  id: 16a3b9c5-1faa-410e-a7e1-249a9f861e07
  trigger:
    - platform: state
      entity_id: group.bed
      to: 'off'
      for: "00:05:00"

  condition:
    - condition: state
      entity_id: group.family
      state: home
    - condition: state
      entity_id: input_boolean.guest_mode
      state: 'off'
    - condition: time
      after: '07:00:00'
      before: '11:00:00'
  action:
    - service: light.turn_on
      entity_id:
        - light.kitchen_lights
    - service: switch.turn_on
      entity_id: switch.lr_amp
