#-------------------------------------------
# @CCOSTAN
# Original Repo : https://github.com/CCOSTAN/Home-AssistantConfig
# C by GE Lights - Voice control routines via Alexa Media Player.
#-------------------------------------------
######################################################################
##  Manage C by GE/GE Cync lights/outlets. https://amzn.to/30w3UWy
######################################################################
# Moving routines to custom Alexa commands (see issue #812).

##################################################
## Scripts
## Called in the AWAY script to shut all devices down.
##################################################

script:
  paige_lights_off:
    alias: 'Paige ALL Lights Off'
    sequence:
      - service: media_player.play_media
        data:
          entity_id: media_player.garage
          media_content_id: 'turn off paige bed'
          media_content_type: custom

  paige_lights_on:
    alias: 'Paige Lights On - Just Overhead'
    sequence:
      - service: media_player.play_media
        data:
          entity_id: media_player.garage
          media_content_id: paigelighton
          media_content_type: routine
