######################################################################
# @CCOSTAN - Follow Me on X
# For more info visit https://www.vcloudinfo.com/click-here
# Original Repo : https://github.com/CCOSTAN/Home-AssistantConfig
# -------------------------------------------------------------------
# Glances - ProxMox/server stats via Glances integration.
#  CPU, memory, and disk sensors from Glances API.
# -------------------------------------------------------------------
######################################################################

template:
  - sensor:
      - name: "Proxmox Garage Average Temperature"
        unique_id: proxmox_garage_avg_temp
        device_class: temperature
        state_class: measurement
        unit_of_measurement: "\u00B0F"
        state: >-
          {{ (
            (states('sensor.proxmox1_package_id_0_temperature') | float(0) + 
             states('sensor.proxmox1_pch_skylake_1_temperature') | float(0) + 
             states('sensor.proxmox1_core_0_temperature') | float(0) + 
             states('sensor.proxmox1_core_1_temperature') | float(0) + 
             states('sensor.proxmox1_core_2_temperature') | float(0) + 
             states('sensor.proxmox1_core_3_temperature') | float(0) + 
             states('sensor.proxmox1_acpitz_1_temperature') | float(0) + 
             states('sensor.proxmox1_acpitz_2_temperature') | float(0) + 
             states('sensor.proxmox2_package_id_0_temperature') | float(0) + 
             states('sensor.proxmox2_pch_skylake_1_temperature') | float(0) + 
             states('sensor.proxmox2_core_0_temperature') | float(0) + 
             states('sensor.proxmox2_core_1_temperature') | float(0) + 
             states('sensor.proxmox2_core_2_temperature') | float(0) + 
             states('sensor.proxmox2_core_3_temperature') | float(0) + 
             states('sensor.proxmox2_acpitz_1_temperature') | float(0) + 
             states('sensor.proxmox2_acpitz_2_temperature') | float(0)
            ) / 16 ) | round(1) }}

automation:
  - alias: "Garage Proxmox High Temperature Warning"
    id: proxmox-garage-high-temp-warning-automation
    trigger:
      - platform: numeric_state
        entity_id: sensor.proxmox_garage_avg_temp
        above: 145  # Adjust threshold as needed
    action:
      - service: script.notify_engine
        data:
          title: "?? Proxmox Garage Alert!"
          value1: "The average temperature of your Proxmox servers is above 145\u00B0F!"
          who: 'carlo'
          group: 'information'
