#-------------------------------------------
# @CCOSTAN
# Original Repo : https://github.com/CCOSTAN/Home-AssistantConfig
# Proxmox Frigate Host - Nightly reboot schedule.
#-------------------------------------------
######################################################################
##  Automates nightly reboot of the Frigate server via Proxmox API.
######################################################################
# More info: https://www.vcloudinfo.com/click-here
automation:
  - alias: "Nightly Frigate Server Reboot"
    id: nightly_frigate_reboot
    description: "Reboots the Frigate server every day at 5 AM"
    trigger:
      - platform: time
        at: "05:00:00"
    action:
      - service: button.press
        target:
          entity_id: button.qemu_docker2_101_reboot
    mode: single

  - alias: "Notify Carlo of Proxmox Updates"
    id: notify_carlo_proxmox_updates
    description: "Sends a notification to Carlo when there are updates available for the Proxmox hosts."
    trigger:
      - platform: state
        entity_id: binary_sensor.node_proxmox02_updates_packages
        to: 'on'
      - platform: state
        entity_id: binary_sensor.node_proxmox1_updates_packages
        to: 'on'
    action:
      - service: script.notify_engine
        data:
          who: carlo
          title: "Proxmox Updates Available"
          value1: "There are updates available for the Proxmox hosts. Please review and apply updates as needed."
          group: "information"
    mode: single
