#-------------------------------------------
# @CCOSTAN
# Original Repo : https://github.com/CCOSTAN/Home-AssistantConfig
# Read more about the house at https://vCloudInfo.com
#-------------------------------------------

#-------------------------------------------
sensor:
  - platform: travisci
    api_key: !secret travisci_api
    scan_interval: 2400
    monitored_conditions:
      - state
#-------------------------------------------

#automation:
#Tweets pushed out to twitter.

automation:
  - alias: "Travis FAILURE Notification"
    id: 326881a7-47ab-4897-a0c7-74ce290224de
    mode: restart

    trigger:
      - platform: state
        entity_id:
         - sensor.ccostan_home_assistantconfig_state
        to: 'failed'
        for:
          hours: 2

    action:
      - service: script.notify_engine
        data_template:
          value1: 'Travis validation testing failed.'
          who: 'carlo'
          apns: 'information'

      - service: persistent_notification.create
        data:
          title: "Travis-CI FAILURE"
          message: "Travis validation testing failed."
          notification_id: "travis_failed"
