*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pickle
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite
deps
__pycache__
tts
secrets.yaml
secrets
known_devices.yaml
phue.conf
ios.conf
pyozw.sqlite
nest.conf
.uuid
ipchange.yaml
