######################################################################
# @CCOSTAN - Follow Me on X
# For more info visit https://www.vcloudinfo.com/click-here
# Original Repo : https://github.com/CCOSTAN/Home-AssistantConfig
# -------------------------------------------------------------------
# Home Stats Automation - arrival briefing with weather and safety checks
#  Announces key home status after family returns or on manual trigger.
# -------------------------------------------------------------------
# Notes: Waits for garage doors to close before speaking.
######################################################################
- alias: 'Home Stats'
  id: f98e1ef4-051b-4214-908d-d8b35f076a3e

  trigger:
    - platform: state
      entity_id:
        - group.family
      from: 'not_home'
      to: 'home'
      for: '00:03:00'

    - platform: state
      entity_id: input_boolean.home_stats
      to: 'on'
      from: 'off'

  action:

    - wait_template: >-
       {{ is_state('group.garage_doors', 'closed') }}
      timeout: 00:05:30

    - service: script.speech_engine
      data:
        call_inside_weather: 1
        call_garbage_day: 1
        call_outside_weather: 1
        call_garage_check: 1
        call_window_check: 1
