##############################################################################
###  New Device has connected to the network.  let everyone know.
##############################################################################

- alias: "New device connected"
  id: 5620418d-baaf-4d1f-bf22-8c094b4a53b2
  trigger:
    - platform: event
      event_type: device_tracker_new_device

  action:
    - wait_template: >-
        {{ not is_state('media_player.livingroomCC', 'playing') }}

    - service: script.speech_engine
      data:
        NewDevice: "There has been a new device detected on the network.  Be sure to appropriately catagorize {{trigger.event.data.host_name}} within Circle."

    - service: script.tweet_engine_no_image
      data:
        tweet: >
          {{ [
          "New Device on the Network! @MeetCircle has alerted me and now it is locked down.",
          "Constant monitoring of the network by @MeetCircle has detected a new device in the environment."
          ] | random + " (https://amzn.to/2eAgaA6)"}}
##############################################################################
