######################################################################
##  Dark House Little extra light - DARK and Cloudy or just rainy.
######################################################################

- alias: 'Dark House Little extra light'
  id: cb94a5bb-7cb3-4e0d-a753-ace01af0bae4
  mode: single

  trigger:
    - platform: state
      entity_id: sensor.pirateweather_precip
      to: 'rain'
    - platform: numeric_state
      entity_id: sensor.pirateweather_precip_intensity
      above: 0.5
    - platform: numeric_state
      entity_id: sensor.blitzortung_lightning_counter
      above: 1
    - platform: state
      entity_id: group.family
      to: 'home'
      from: 'not_home'
    - platform: state
      entity_id: binary_sensor.sleepnumber_carlo_carlo_is_in_bed
      to: 'off'
      for: "00:10:00"

  condition:
    condition: and
    conditions:
      - condition: or
        conditions:
          - condition: numeric_state
            entity_id: sensor.pirateweather_precip_intensity
            above: 0.2
          - condition: numeric_state
            entity_id: sensor.blitzortung_lightning_counter
            above: 1
      - condition: state
        entity_id: binary_sensor.sleepnumber_carlo_carlo_is_in_bed
        state: 'off'
      - condition: state
        entity_id: binary_sensor.sleepnumber_carlo_stacey_is_in_bed
        state: 'off'
      - condition: state
        entity_id: sun.sun
        state: 'above_horizon'
      - condition: state
        entity_id: group.family
        state: 'home'

  action:
    - service: light.turn_on
      data:
        entity_id:
          - light.living_room_lights
          - light.living_room_accents
        brightness: 255
        kelvin: 5500

    - service: script.speech_engine
      data:
        value1: "Because of the {{trigger.entity_id.split('_')[2]|replace('precip','rain')|replace('counter','lightning')|replace('carlo','rain') }} {{trigger.entity_id.split('_')[3]|replace('intensity',' ')| replace('carlo','and clouds')}} outside.  I will turn on some extra lights in the living room."
        call_outside_weather: 1
        call_window_check: 1
        call_garage_check: 1

    - delay:
        hours: 3
######################################################################
