#-------------------------------------------
# Home Assistant Configuration
# Author: Carlo Costanzo (@CCOSTAN)
# GitHub: https://github.com/CCOSTAN/Home-AssistantConfig
# Blog: https://vCloudInfo.com
# Description: Main configuration file for Home Assistant setup
#-------------------------------------------

homeassistant:
  # customize: !include_dir_merge_named customize
  customize_domain:
    automation:
      initial_state: 'on'
  packages: !include_dir_named packages
  auth_providers:
   - type: homeassistant
   - type: trusted_networks
     trusted_networks:
       - 192.168.10.0/24
#      - !secret external_ip
     allow_bypass_login: true

default_config:

config:

cloud:
  alexa:
    filter:
      include_entities:
        - group.exterior_lights
        - group.interior_lights
        - group.landscaping
        - group.outdoor_seasonal
        - group.master_bathroom_accents
        - group.kitchen_accents
        - group.kitchen_lights
        - light.bedroom
        - light.bedroom_lights
        - light.den_lights
        - light.dinette_lights
        - light.dining_room_lights
        - light.foyer
        - light.garage_lights
        - light.hallway_lights
        - light.living_room_accents
        - light.living_room_lights
        - light.office_lights
        - light.outdoor_front_lights
        - light.outdoor_pool_lights
        - light.upstairs_lights
        - light.upstairs_lamp
        - light.sink
      include_domains:
        - switch
        - cover
        - input_boolean
        - camera

#discovery:
# This groups up lights but displays them as light.xxxx
light: !include light_groups.yaml

ifttt:
  key: !secret ifttt_key

logbook:
  exclude:
    entities:
      - automation.detect_lights_and_adjust_the_brightness_when_turned_on_based_on_time
      - automation.cuckoo_clock
      - binary_sensor.office_motion
      - group.garage_doors
      - media_player.LivingRoomCC
      - py.warnings
      - sensor.small_garage_status
      - sensor.large_garage_status
      - sensor.small_garage_time_in_state
      - sensor.large_garage_time_in_state
      - sensor.large_garage_wifi_signal_strength
      - sensor.small_garage_wifi_signal_strength
      - sensor.small_garage_reflection_rate
      - sensor.large_garage_reflection_rate
      - sensor.pi_hole_ads_blocked_today
      - sensor.pi_hole_ads_percentage_blocked_today
      - sensor.pi_hole_dns_queries_today
      - sensor.time
      - sensor.date
      - sensor.floorplan_date
      - sensor.floorplan_time
      - sensor.ha_uptime
      - sensor.sleepnumber_carlo_stacey_pressure
      - sensor.sleepnumber_carlo_carlo_pressure

logger: !include logger.yaml
recorder: !include recorder.yaml

# zwave:
#  usb_path: /dev/ttyACM0
#  config_path: /srv/hass/hass_venv/lib/python3.4/site-packages/libopenzwave-0.3.1-py3.4-linux-armv7l.egg/config

tts:

homekit: !include homekit.yaml
group: !include_dir_merge_named group
# device_tracker: !include_dir_merge_list device_tracker - All trackers have been moved to the UI.
sensor: !include_dir_merge_list sensor
automation: !include_dir_merge_list automation
scene: !include_dir_merge_list scene
# switch: !include_dir_merge_list switch
script: !include_dir_merge_named script
input_boolean: !include_dir_merge_named input_boolean
shell_command: !include_dir_merge_named shell_command
