######################################################################
# @CCOSTAN - Follow Me on X
# For more info visit https://www.vcloudinfo.com/click-here
# Original Repo : https://github.com/CCOSTAN/Home-AssistantConfig
# -------------------------------------------------------------------
# Home Assistant Configuration - Core config
#  Main configuration file for Home Assistant setup.
# -------------------------------------------------------------------
######################################################################

homeassistant:
  # customize: !include_dir_merge_named customize
  customize_domain:
    automation:
      initial_state: 'on'
  packages: !include_dir_named packages
  auth_providers:
   - type: homeassistant
   - type: trusted_networks
     trusted_networks:
       - 192.168.10.0/24
#      - !secret external_ip
     allow_bypass_login: true

default_config:

# -------------------------------------------------------------------
# Lovelace (YAML dashboards/resources)
# Dashboard YAML lives under config/dashboards. Do not edit config/.storage.
# -------------------------------------------------------------------
lovelace:
  resource_mode: yaml
  resources: !include dashboards/resources.yaml
  dashboards:
    lovelace:
      mode: yaml
      title: "Overview"
      icon: mdi:view-dashboard
      show_in_sidebar: true
      require_admin: false
      filename: ui-lovelace.yaml
    dashboard-infrastructure:
      mode: yaml
      title: "Infrastructure"
      icon: mdi:server-network
      show_in_sidebar: true
      require_admin: true
      filename: dashboards/infrastructure/dashboard.yaml
    dashboard-kiosk:
      mode: yaml
      title: "KIOSK"
      icon: mdi:tablet-dashboard
      show_in_sidebar: true
      require_admin: false
      filename: dashboards/kiosk/dashboard.yaml

config:

cloud:
  alexa:
    filter:
      include_entities:
        - group.exterior_lights
        - group.interior_lights
        - group.landscaping
        - group.outdoor_seasonal
        - group.master_bathroom_accents
        - group.kitchen_accents
        - group.kitchen_lights
        - light.bedroom
        - light.bedroom_lights
        - light.den_lights
        - light.dinette_lights
        - light.dining_room_lights
        - light.foyer
        - light.garage_lights
        - light.hallway_lights
        - light.living_room_accents
        - light.living_room_lights
        - light.office_lights
        - light.outdoor_front_lights
        - light.upstairs_lights
        - light.upstairs_lamp
        - light.sink
        - camera.frontdoorbell
        - camera.driveway
        - camera.garagecam
        - camera.birdseye
        - switch.kitchen_accent_1
        - switch.kitchen_accent_2
        - switch.front_door_outlet
        - switch.lr_amp
        - switch.master_bathroom_accent_1
        - switch.master_bathroom_accent_2
        - switch.foyer_outlet
        - switch.den_outlet
        - switch.living_room_outlet
        - switch.living_room_tv_outlet
        - switch.office_accent
        - switch.office_lamp_switch
        - switch.front_office_lamp
      include_domains:
        - cover
        - input_boolean
      exclude_entities:
        - light.m1_back_left
        - light.m1_back_right
        - light.m1_front_left
        - light.m1_front_right
        - light.main_slider
        - light.living_room
        - input_boolean.snooze_lightning
    entity_config:
      light.living_room_lights:
        name: Living Room Color Lights
      light.main_slider:
        name: Living Room Slider
      camera.frontdoorbell:
        name: Front Doorbell
      camera.driveway:
        name: Driveway
      camera.garagecam:
        name: Garage Camera
      camera.birdseye:
        name: Birdseye

#discovery:
# This groups up lights but displays them as light.xxxx
light: !include light_groups.yaml

ifttt:
  key: !secret ifttt_key

logbook: !include logbook.yaml
logger: !include logger.yaml
recorder: !include recorder.yaml

tts:

# homekit: !include homekit.yaml
group: !include_dir_merge_named group
# device_tracker: !include_dir_merge_list device_tracker - All trackers have been moved to the UI.
sensor: !include_dir_merge_list sensor
automation: !include_dir_merge_list automation
scene: !include_dir_merge_list scene
# switch: !include_dir_merge_list switch
script: !include_dir_merge_named script
input_boolean: !include_dir_merge_named input_boolean
