#-------------------------------------------
# Home Assistant Configuration
# Author: Carlo Costanzo (@CCOSTAN)
# GitHub: https://github.com/CCOSTAN/Home-AssistantConfig
# Blog: https://vCloudInfo.com
# Description: Main configuration file for Home Assistant setup
#-------------------------------------------

homeassistant:
  # customize: !include_dir_merge_named customize
  customize_domain:
    automation:
      initial_state: 'on'
  packages: !include_dir_named packages
  auth_providers:
   - type: homeassistant
   - type: trusted_networks
     trusted_networks:
       - 192.168.10.0/24
#      - !secret external_ip
     allow_bypass_login: true

default_config:

config:

cloud:
  alexa:
    filter:
      include_entities:
        - group.exterior_lights
        - group.interior_lights
        - group.landscaping
        - group.outdoor_seasonal
        - group.master_bathroom_accents
        - group.kitchen_accents
        - group.kitchen_lights
        - light.bedroom
        - light.bedroom_lights
        - light.den_lights
        - light.dinette_lights
        - light.dining_room_lights
        - light.foyer
        - light.garage_lights
        - light.hallway_lights
        - light.living_room_accents
        - light.living_room_lights
        - light.office_lights
        - light.outdoor_front_lights
        - light.upstairs_lights
        - light.upstairs_lamp
        - light.sink
      include_domains:
        - switch
        - cover
        - input_boolean
        - camera
      exclude_entities:
        - light.m1_back_left
        - light.m1_back_right
        - light.m1_front_left
        - light.m1_front_right
        - light.main_slider
        - light.living_room
    entity_config:
      light.living_room_lights:
        name: Living Room Color Lights
      light.main_slider:
        name: Living Room Slider

#discovery:
# This groups up lights but displays them as light.xxxx
light: !include light_groups.yaml

ifttt:
  key: !secret ifttt_key

logbook: !include logbook.yaml
logger: !include logger.yaml
recorder: !include recorder.yaml

tts:

homekit: !include homekit.yaml
group: !include_dir_merge_named group
# device_tracker: !include_dir_merge_list device_tracker - All trackers have been moved to the UI.
sensor: !include_dir_merge_list sensor
automation: !include_dir_merge_list automation
scene: !include_dir_merge_list scene
# switch: !include_dir_merge_list switch
script: !include_dir_merge_named script
input_boolean: !include_dir_merge_named input_boolean
shell_command: !include_dir_merge_named shell_command
