######################################################################
# @CCOSTAN - Follow Me on X
# For more info visit https://www.vcloudinfo.com/click-here
# Original Repo : https://github.com/CCOSTAN/Home-AssistantConfig
# -------------------------------------------------------------------
# HomeKit Configuration - Multi-bridge (currently disabled)
#  Kept for reference; `homekit: !include homekit.yaml` is commented out in `configuration.yaml`.
# -------------------------------------------------------------------
######################################################################

# Main bridge (everything except cameras + front door lock)
- name: Home Assistant Bridge
  mode: bridge
  port: 21063
  filter:
    include_domains:
      - climate
      - cover
      - lock
    exclude_domains:
      - camera
      - media_player
      - sensor
      - script
      - switch
      - scene
      - light
    include_entities:
      - light.bedroom
      - light.bedroom_lights
      - light.den_lights
      - light.dinette_lights
      - light.dining_room_lights
      - light.foyer
      - light.garage_lights
      - light.hallway_lights
      - light.kitchen_lights
      - light.living_room_accents
      - light.living_room_lights
      - light.office_lights
      - light.outdoor_front_lights
      - light.upstairs_lights
      - light.upstairs_lamp
      - light.sink
      - switch.lr_amp
    exclude_entities:
      - lock.front_door
