#-------------------------------------------
# Recorder Configuration
# Description: Settings for the Home Assistant recorder component
# 
# This component is responsible for storing events and states in a database
# and purging old data to maintain database size.
#
# Documentation: https://www.home-assistant.io/integrations/recorder/
# Follow me on https://www.vcloudinfo.com/click-here
# Original Repo: https://github.com/CCOSTAN/Home-AssistantConfig
#-------------------------------------------
#db_url: sqlite:///data/home-assistant_v2.db
purge_keep_days: 30
exclude:
  domains:
    - camera
    - device_tracker
    - event
    - feedreader
    - image
    - media_player
    - persistent_notification
    - sun
    - update
    - zone
  entity_globs:
    - binary_sensor.*_motion
    - binary_sensor.*_motion_*
    - binary_sensor.*is_present
#    - binary_sensor.*occupancy*
    - binary_sensor.*vcloudinfo*
    - light.sleepnumber_*
    - number.sleepnumber_*
    - number.*_effect_speed
    - media_player.*echo*
    - select.sleepnumber_*
    - select.l10s_vacuum_*
    - select.*_wiring
    - sensor.*_activity
    - sensor.*_battery
    - sensor.*_battery_state
    - sensor.*_bssid
    - sensor.*_first_connection*
    - sensor.*_last_connection*
    - sensor.*_last_update*
    - sensor.*_last_boot
    - sensor.*_since
    - sensor.*uptime*
    - sensor.sun_next_*
    - sensor.vpn_client_*
    - switch.*_do_not_disturb_*
    - switch.*_repeat_switch

  entities:
    - automation.update_garage_get_status
    - binary_sensor.bear_stone
    - binary_sensor.powerwall_charging
    - number.alarm_panel_1_screen_brightness
    - script.amp_settings
    - script.speech_processing
    - sensor.bear_stone
    - sensor.carlo_ap
    - sensor.carlo_fast
    - sensor.clock_am_pm
    - sensor.clock_date
    - sensor.clock_day
    - sensor.clock_stacey_alarm_time
    - sensor.clock_time
    - sensor.clock_time_2
    - sensor.date
    - sensor.dockerconfigs_backup_date
    - sensor.dockerconfigs_backup_error_message
    - sensor.dockerconfigs_backup_status
    - sensor.external_ip
    - sensor.ha_uptime
    - sensor.large_garage_door_since
    - sensor.small_garage_door_since
    - sensor.last_alexa
    - sensor.lights_on_count
    - sensor.low_battery
    - sensor.network
    - sensor.network_detail
    - sensor.pi_hole_ads_blocked_today
    - sensor.pi_hole_ads_percentage_blocked_today
    - sensor.pi_hole_dns_queries_today
    - sensor.rachio_watering_time
    - sensor.stacey_iphone11_activity
    - sensor.stacey_iphone11_audio_output
    - sensor.time
    - switch.bear_stone
    - switch.alarm_panel_1_screensaver

  event_types:
    - alexa_smart_home
