############################################################
# recorder
############################################################
#db_url: sqlite:///data/home-assistant_v2.db
purge_keep_days: 14
include:
  entities:
    - group.landscaping
exclude:
  domains:
    - updater
#    - automation
    - device_tracker
    - group
    - scene
#    - script
  entities:
    - automation.update_garage_get_status
    - binary_sensor.camera1_motion_sensor
    - binary_sensor.camera2_motion_sensor
    - binary_sensor.camera3_motion_sensor
    - sensor.clock_am_pm
    - sensor.clock_date
    - sensor.clock_day
    - sensor.clock_stacey_alarm_time
    - sensor.clock_time
    - sensor.date
    - sensor.external_ip
    - sensor.epson_xp_7100_series_uptime
    - sensor.floorplan_date
    - sensor.floorplan_time
    - sensor.ha_uptime
    - sensor.large_garage_door_since
    - sensor.last_message
    - sensor.low_battery
    - sensor.medicine_time
    - sensor.network
    - sensor.network_detail
    - sensor.pi_hole_ads_blocked_today
    - sensor.pi_hole_ads_percentage_blocked_today
    - sensor.pi_hole_dns_queries_today
    - sensor.skybell_front_door_chime_level
    - sensor.small_garage_door_since
    - sensor.time
    - sensor.rachio_watering_time
    - sun.sun
    - zone.home
