/* SVG shapes */

svg, svg * {
  vector-effect: non-scaling-stroke !important;
  pointer-events: all !important;
}

/* Hover over */

.entity:hover {
  stroke: #03A9F4 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

/* Bootstrap succsss */

.success-text {
  fill: #3c763d !important;
}

.success-background, .success-text-background {
  fill: #dff0d8 !important;
  fill-opacity: 1 !important;
  stroke: #d6e9c6 !important;
  stroke-width: 1px !important;
}

/* Bootstrap info */

.info-text {
  fill: #31708f !important;
}

.info-background, .info-text-background {
  fill: #d9edf7 !important;
  fill-opacity: 1 !important;
  stroke: #bce8f1 !important;
  stroke-width: 1px !important;
}

/* Bootstrap warning */

.warning-text {
  fill: #8a6d3b !important;
}

.warning-background, .warning-text-background  {
  fill: #fcf8e3 !important;
  fill-opacity: 1 !important;
  stroke: #faebcc !important;
  stroke-width: 1px !important;
}

/* Bootstrap danger */

.danger-text {
  fill: #a94442 !important;
}

.danger-background, .danger-text-background {
  fill: #f2dede !important;
  fill-opacity: 1 !important;
  stroke: #ebccd1 !important;
  stroke-width: 1px !important;
}

/* Last motion entity */

.last-motion {
  stroke: #808080 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

/* Alarm Panel */

.alarm-disarmed {
  fill: #3c763d !important;
}

.alarm-armed {
  fill: #8a6d3b !important;
}

/* Text Objects */

.text-appear {
  fill: black !important;
  fill-opacity: 1;
  stroke: black !important;
  stroke-width: 1;
  stroke-opacity:0.1;
}

.text-disappear {
  fill: grey !important;
  fill-opacity: 0.25;
  stroke: yellow !important;
  stroke-width: 30;
  stroke-opacity: 0.25;
}

/* Buttons */

.button-on {
  fill: blue !important;
}

.button-off {
  fill: light grey !important;
}

/* Nest Protects */

.protect-on {
  fill: #00FF00 !important;
}

.protect-off {
  fill: #c60919 !important;
}

/* Windows / Doors / Entry Points */

.window-open {
  fill: #c60919 !important;
}

.window-closed {
  fill: #00FFFF !important;
}

/* Rooms */

.room-off {
  fill: grey !important;
  fill-opacity: 0.1;
  stroke: black !important;
  stroke-width: 1;
  stroke-opacity:0.1;
}

.room-on {
  fill: yellow !important;
  fill-opacity: 0.25;
  stroke: yellow !important;
  stroke-width: 30;
  stroke-opacity: 0.25;
}

/* Light */

.light-off {
  fill: light grey !important;
  fill-opacity: 0.1;
  stroke: black !important;
  stroke-width: 1;
  stroke-opacity:0.1;
}

.light-on {
  fill: yellow !important;
  fill-opacity: 1.0;
  stroke: yellow !important;
  stroke-width: 40;
  stroke-opacity: 0.25;
}

/* Temperature sensor */

.temp-very-low-background {
  fill: #d9edf7 !important;
  fill-opacity: 1 !important;
}

.temp-below-average-background {
  fill: #dcefe8 !important;
  fill-opacity: 1 !important;
}

.temp-average-background {
  fill: #dff0d8 !important;
  fill-opacity: 1 !important;
}

.temp-very-high-background {
  fill: #f2dede !important;
  fill-opacity: 1 !important;
}

/* Media player */

.squeezebox-off {
  fill: #8AA8A7 !important;
}

.squeezebox-on {
  fill: #2baaa6 !important;
}
