 SVG shapes */

svg, svg * {
  vector-effect: non-scaling-stroke !important;
  pointer-events: all !important;
}
/*
/* Hover over */

#cover\.large_garage.window-open {
  transform: rotate(270deg);
  transform-origin: center;
}

.entity:hover:not(.static-text):not(.static-temp):not(.static-text-date):not:(.static-text-time) {
  stroke: #03A9F4 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

.warning-background, .warning-text-background  {
  fill: #fcf8e3 !important;
  fill-opacity: 1 !important;
  stroke: #faebcc !important;
  stroke-width: 1px !important;
}

.static-text
{
  fill: #FFFFA6;
  font-family : Helvetica;
  font-weight : bold;
  font-size : 15px;
}

.static-text-date
{
  font-family : Helvetica;
  font-weight : bold;
  font-size : 16px;
  fill : #FFFFA6;
}

.static-text-time
{
  font-family : Helvetica;
  font-weight : bold;
  font-size : 35px;
  fill: #FFFFA6;
}

.static-temp
{
  font-family: Helvetica;
  font-size: 22px;
  fill: #FFFFA6;
}
/* Last motion entity */

.last-motion {
  stroke: #808080 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

/* Presence */
.presence-on {
  fill: #BDF271 !important;
}

.presence-off {
  fill: #3D3B3F !important;
}

/* Text Home/Away */

.text-home {
  fill: #BDF271 !important;
}

.text-away {
  fill: #E7376B !important;
}

/* switches */

.switch-on {
  fill: orange !important;
}

.switch-off {
  fill: #cccccc !important;
}
/* Buttons */

.button-on {
  fill: #FFFFA6 !important;
  fill-opacity: 0.25;
}

.button-off {
  fill: #3D3B3F !important;
  fill-opacity: 0.5;
}

/* Nest Protects */

.protect-on {
  fill: green !important;
}

.protect-off {
  fill: red !important;
}

/* Windows / Doors / Entry Points */

.window-open {
  fill: #c60919 !important;

}

.window-closed {
  fill: #00FFFF !important;
}

/* Light */

.light-off {
  fill: #231F26 !important;
  fill-opacity: 1.0;
  stroke: black !important;
  stroke-width: 1;
  stroke-opacity:0.1;
}
.light-off:hover {
  transform-origin: center;
  transform: scale(2);
}

.outdoor-light-off {
  fill: grey !important;
  fill-opacity: 1.0;
  stroke: black !important;
  stroke-width: 1;
  stroke-opacity:0.1;
}
.outdoor-light-off:hover {
  transform-origin: center;
  transform: scale(2);
}


.light-on {
  fill: yellow !important;
  fill-opacity: 1.0;
  stroke: #FFFFA6 !important;
  stroke-width: 10;
  stroke-opacity: 0.25;
}
.light-on:hover {
  transform-origin: center;
  transform: scale(3);
}
