 SVG shapes */

svg, svg * {
  vector-effect: non-scaling-stroke !important;
  pointer-events: all !important;
}
/*
/* Hover over */

.entity:hover {
  stroke: #03A9F4 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

/* Bootstrap succsss */

.success-text {
  fill: #3c763d !important;
}

.success-background, .success-text-background {
  fill: #dff0d8 !important;
  fill-opacity: 1 !important;
  stroke: #d6e9c6 !important;
  stroke-width: 1px !important;
}

/* Bootstrap info */

.info-text {
  fill: #31708f !important;
}

.info-background, .info-text-background {
  fill: #d9edf7 !important;
  fill-opacity: 1 !important;
  stroke: #bce8f1 !important;
  stroke-width: 1px !important;
}

/* Bootstrap warning */

.warning-text {
  fill: #8a6d3b !important;
}

.warning-background, .warning-text-background  {
  fill: #fcf8e3 !important;
  fill-opacity: 1 !important;
  stroke: #faebcc !important;
  stroke-width: 1px !important;
}

/* Bootstrap danger */

.danger-text {
  fill: #a94442 !important;
}

.danger-background, .danger-text-background {
  fill: #f2dede !important;
  fill-opacity: 1 !important;
  stroke: #ebccd1 !important;
  stroke-width: 1px !important;
}

/* Last motion entity */

.last-motion {
  stroke: #808080 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

/* Presence */
.presence-on {
  fill: #BDF271 !important;
}

.presence-off {
  fill: #3D3B3F !important;
}

/* Text Home/Away */

.text-home {
  fill: #BDF271 !important;
}

.text-away {
  fill: #E7376B !important;
}

/* switches */

.switch-on {
  fill: orange !important;
}

.switch-off {
  fill: #cccccc !important;
}
/* Buttons */

.button-on {
  fill: #FFFFA6 !important;
  fill-opacity: 0.25;
}

.button-off {
  fill: #3D3B3F !important;
  fill-opacity: 0.5;
}

/* Nest Protects */

.protect-on {
  fill: green !important;
}

.protect-off {
  fill: red !important;
}

/* Windows / Doors / Entry Points */

.window-open {
  fill: #c60919 !important;
}

.window-closed {
  fill: #00FFFF !important;
}

/* Light */

.light-off {
  fill: #231F26 !important;
  fill-opacity: 0.1;
  stroke: black !important;
  stroke-width: 1;
  stroke-opacity:0.1;
}

.light-on {
  fill: yellow !important;
  fill-opacity: 1.0;
  stroke: #FFFFA6 !important;
  stroke-width: 10;
  stroke-opacity: 0.25;
}
