######################################################################################################
###Script to turn on Front light FULL bright for 15m when motion is detected and then return to the normal colors.
#  action:
#   - service: script.emergency
# @CCOSTAN
# Original Repo : https://github.com/CCOSTAN/Home-AssistantConfig
######################################################################################################

emergency:
  sequence:
# Switch all outside front lights to Red to indicate emergency
    - service: light.turn_on
      entity_id:
        - group.outdoor_front_lights
      data:
        color_name: 'red'
      # Flash All LIGHTS
    - service: light.turn_on
      entity_id: all
      data:
        flash: long
      # Rachio is already inergrated Natively with Protects to run SPRINKLERS with smoke conditions..
#    - service: ifttt.trigger
#      data_template: {"event":"rachio_start_front"}

      # Turn on All LIGHTS 100% Brightness
    - service: light.turn_on
      entity_id: all
      data:
        brightness: 255

      # Turn on Outside LED lights strobing White
    - service: light.turn_on
      entity_id:
        - light.led_garage_large
        - light.led_garage_small
        - light.led_outdoor_den
        - light.led_garage_snip
      data:
        effect: white_strobe
